
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**
 * Buttons in IE were not taking up the full width of the left sidenav, despite
 * using a flex column layout. Works fine in Chrome and Firefox, of course. This
 * min-width attribute is to fix IE.
 */
.leftNavButton {
	min-width:288px;
	text-align: left;
	font-weight: bold;
}

.standardButton {
	min-width:150px;
}

.shadow {
    -webkit-filter: drop-shadow( 2px 2px 5px #aaa );
            filter: drop-shadow( 2px 2px 5px #aaa ); /* Same syntax as box-shadow */
}

/**
 * Used for some angular buttons
 */
 .redbutton span {
	color: red;
 }

/**
 * Angular Material Override - button style on dialogs
 */
.md-dialog-container .md-button {
	color: #000;
}
/**
 * Angular Material Override - font color on active tabs
 */
md-tab-item.md-active  span {
	color: red;
}

/**
 * Angular Smart Table:  selected row
 */
.mySmartTable {
	border-collapse: collapse;
}
.mySmartTable tr.st-selected {
	background-color: #FF9E9E; /* was #FFB84D */
	border: 1px dashed red;
}
.mySmartTable tr.st-selected  a {
	color: #FFFFFF;
}

.mySmartTable th {
	white-space: nowrap;
	text-decoration: underline;
}

/**
 * Angular menu inside smart table
 */
.mySmartTable .md-button {
	min-height: 0px;
}
.mySmartTable .md-button.md-icon-button {
	height: 20px;
	padding: 0px;
}
 /*
.mySmartTable .md-button {
	height: 15px;
	line-height: 0px;
	width: 20px;
	min-height: 10px;
}
*/


/*
.mySmartTable td:first-child, .mySmartTable th:first-child {
	min-width: 300px;
	max-width:500px;
	width:35%;
}
*/

/**
 * temp fix for md-menu showing a scrollbar
 * https://github.com/angular/material/issues/3266
 */
body {
    overflow-y: auto!important;
}



/**
 * set the size of the results dropdown for autocomplete boxes
 */
 /*
#store-search-autocomplete .md-virtual-repeat-container.md-autocomplete-suggestions-container {
    height: 400px;
    max-height: 400px !important;
}
*/

.autocomplete-store-search-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}
.autocomplete-store-search-template li:last-child {
  border-bottom-width: 0;
}
.autocomplete-store-search-template .item-title{
	font-weight: bold;
	font-style: italic;
}
.autocomplete-store-search-template .item-title,
.autocomplete-store-search-template .item-metadata {
  display: block;
  line-height: 2;
}
.autocomplete-store-search-template .item-title md-icon {
  height: 18px;
  width: 18px;
}

/*
highlight lucene search results with yellow background color and bold font
*/
.luceneBasicHighlight {
	font-weight:bold;
	background-color:yellow;
}

/*
 * Growl notifications
 */
growl-notifications {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 1000;
}
growl-notifications growl-notification {
    background: rgba(256,256, 256, 0.9);
    padding: 15px 30px;
    width: 300px;
    display: block;
    border-radius: 5px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #f0ad4e;
}


